/* 공통 */
html,
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* 공통 */

/* 네비게이션 */
.menuNav {
  position: relative;
  text-align: center;
}

.logo {
  width: 96px;
  display: block;
  margin: 0 auto;
}

.menuUl {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 8em;
}

.menuLi {
  font-size: 20px;
  position: relative;
  padding: 0.5em 0;
  color: #7d7d7d;
  transition: color 0.3s ease;
}

.menuLi a {
  text-decoration: none;
  color: inherit; /* 상속된 색상을 사용 */
}

.menuLi a:hover {
  color: black;
}

.menuLi.active a {
  color: black;
}

#menuUnderLine {
  position: absolute;
  height: 3px;
  background-color: black;
  border-radius: 10px;
  visibility: hidden;
  transition: all 0.3s ease;
}

.hr1 {
  width: 100%;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.33);
}
/* 네비게이션 */

/* 푸터 */
.footer {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #333333;
  padding: 16px 0px 16px 0px;
  color: white;
  margin-top: auto;
}

.gitCat {
  width: 32px;
  margin-left: 16px;
}

.footerA {
  color: #f9e33a;
  text-decoration: none;
  padding-left: 8px;
  font-size: 20px;
}
/* 푸터 */
