/*콘텐츠*/

/* bootstrap 과 기본 css 스타일링 충돌 해결 위함. */
header {
  display: block !important;
}

.container {
  display: flex;
  align-items: center;
  padding: 30px 0;
  width: 50%;
  justify-content: center;
}

.card {
  width: auto;
  margin-bottom: 40px; /* 줄 간격을 위해 아래 여백 추가 */
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  /* 그림자 추가 */
}
.card-img-top {
  height: 250px;
  object-fit: cover;
  /* 사진 사이즈를 일정하게 하고 싶었음 */
  border-radius: 10px 10px 0 0;
  /* 사진 윗부분만 뭉툭하게 만들었음 */
  cursor: pointer;
}

.textArea {
  display: flex;
  justify-content: space-between;
}

h5 {
  font-weight: 700;
}

.deleteBtn {
  cursor: pointer;
}
.deleteBtn:hover {
  color: red;
}
/*콘텐츠*/

/* /////////////////////////////////////////////////////// */
/* 여기부터 popup창 스타일링입니다요~~ ////////////////////*/
/* //////////////////////////////////////////////////////// */
/* 다크 배경 및 팝업 스타일 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  /* visibility: hidden;  */
  /* 기본으로 보이지 않게 설정 */
}

.popup-box {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 0;
  width: 1000px;
  border-radius: 16px;
  height: 500px;
  position: relative;
}

.popUpPhoto {
  height: 100%;
  width: 350px;
  object-fit: cover;
  border-radius: 16px 0 0 16px;
  /* 사진 윗부분만 뭉툭하게 만들었음 */
}

.introArea {
  /* background-color: aqua; */
  margin: 50px 15px 30px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
}

.compound {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-right: 15px;
  gap: 5px;
}

.popUpTitle {
  font-size: 16px;
  color: rgb(152, 152, 152);
}
.bold {
  font-size: 18px;
  font-weight: 700;
}

.popUpCloseBtn {
  position: absolute;
  right: 8px;
  top: 10px;
  cursor: pointer;
}

/* 스크롤바 디자인 */
.introArea::-webkit-scrollbar {
  width: 10px;
}
.introArea::-webkit-scrollbar-thumb {
  background-color: #f9e33a;
  border-radius: 10px;
  cursor: pointer;
}
.introArea::-webkit-scrollbar-track {
  background-color: rgb(128, 128, 128);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}


.teamIntro a {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: #333;
}

.teamAbout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 120px;
}

.teamAboutCards {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.teamAboutCard {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    border: rgba(125, 125, 125, 0.2) solid 1px;
    border-radius: 8px;
    gap: 20px;
}

.teamAboutCard:hover {
    background-color: #f9e33a20;
}

.teamAboutCard img.icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.teamAboutCard p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

.teamAboutCard p strong {
    color: black;
}

.teamGoals {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 120px;
}

.teamGoals img {
    width: 100px;
    height: 100px;
    margin-bottom: 32px;
}

.teamGoals a {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

.teamGoals p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.teamRules {
    width: 100%;
    display: flex;
    gap: 20px;
}

.teamRulesCard {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    border: rgba(125, 125, 125, 0.2) solid 1px;
    border-radius: 8px;
    gap: 20px;
}

.teamRulesCard:hover {
    background-color: #f9e33a20;
}

.teamRulesCard img {
    margin-top: 16px;
    width: 40px;
    height: 40px;
}

.teamRulesCard p {
    text-align: center;
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin-top: -8px;
}

.teamRulesCard strong {
    color: black;
}
/* 콘텐츠 */

/* 푸터 */
.footer {
    width: 100vw;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #333333;
    padding: 16px 0px 16px 0px;
    color: white;
    margin-top: auto;
}

.gitCat {
    width: 32px;
    margin-left: 16px;
}

.footerA {
    color: #F9E33A;
    text-decoration: none;
    padding-left: 8px;
    font-size: 20px;
}
/* 푸터 */

/* 모달창 */
/* Google Web Font*/
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Raleway',sans-serif; 
    font-size: 18px;
    margin: 50px;
    line-height: 1.5em;

}

a{
    text-decoration: none;
}
/* body -> fontfamily = 대충 글씨체 하나 얹어놈

/* jQuery Fade In Out Modal*/

.modal{ 
    position :center;
    background-color: rgba(0,0,0,0.4);
    top : 0;
    left: 0;
    height: 5000px;
    display: inline-block;
    width: 100%;
    display: none;
}
.modal-active{
    display: block;
}/*액티브로 애니메이션 효과줌*/

.modal-content{
    background-color: aquamarine; 
    width: 350px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0,0.15 );
    text-align:  center;
    padding: 30px;
    animation: slidefade 0.35s linear;
} /*컬러임의작성 */
.btn-close{
    position: absolute;
    top: 15px;
    right: 15px;
}

@keyframes slidefade{
    0%{
        opacity:0;
        margin-top: -50px;
    }
    100%{
        opacity: 1;
        margin-top: 0%;
    }
}

